@model IEnumerable<Fluppy.Models.AdoptSocial>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="mt-2 ml-4 mr-4">
    <h4>Adopt Social</h4>

    <h2 style="font-weight:bold;">Index</h2>

    <a class=" btn btn-primary" href="@Url.Action("Create","AdoptSocial") ">Create New</a>
    <table class="table table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialType.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adopt.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocialType.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adopt.Name)
                </td>
                <td>
                    <a class="update-link btn btn-primary" href="@Url.Action("Update", "AdoptSocial", new { id = item.Id }) "><i class="fas fa-edit"></i></a>
                    <a class="update-link btn btn-danger" href="@Url.Action("Delete", "AdoptSocial", new { id = item.Id }) " onclick="return confirm('Are you sure?')"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }

    </table>
</div>
